<h3>Add Sentence:</h3>
<div class="row">
  <div class="col-md-6">
  	English:
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <input type="text" id="eng_sentence" ng-model="sentence.eng" size="50">
  </div>
</div>
<div class="row">
  <div class="col-md-3">
  	Filipino (Tagalog):
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <input type="text" id="fil_sentence" ng-model="sentence.fil" size="50">
  </div>
</div>
<div class="row">
  <div class="col-md-3">
  	<input type="radio" ng-model="sentence.isFormal" value="1"> Formal sentence
  </div>
  <div class="col-md-3">
  	<input type="radio" ng-model="sentence.isFormal" value="0"> Informal sentence
  </div>
</div>
<div class="row">
  <div class="col-md-3">
  	<button class="btn btn-primary" id="addSentence">Add Sentence</button>
  </div>
</div>
<br/><br/>
<div id="suggest_sentence" style="display:none">
  <table class="table table-striped">
    <tr>
      <th>English</th>
      <th>Filipino</th>
    </tr>
    <tr ng-repeat="sug in suggest_sentence | filter:sentence.eng">
      <td>{{ sug.english }}</td>
      <td>{{ sug.filipino }}</td>
    </tr>
  </table>
</div>