<h3>Add Words</h3>
<div class="row">
  <div class="col-md-3">
  	English:
  </div>
  <div class="col-md-3">
  	Filipino (Tagalog):
  </div>
  <div class="col-md-3">
  	Type of Word:
  </div>
</div>
<div class="row">
  <div class="col-md-3">
  	<input type="text" id="eng_word" ng-model="word.eng_word" size="25">
  </div>
  <div class="col-md-3">
  	<input type="text" ng-model="word.fil_word" size="25">
  </div>
  <div class="col-md-3">
  	<select ng-model="word.type">
 	  <option value="noun">Noun or Pronoun</option>
 	  <option value="verb">Verb</option>
 	  <option value="adjective">Adjective</option>
 	  <option value="adverb">Adverb</option>
 	  <option value="other">Other</option>
  	</select>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
  	<button class="btn btn-primary" id="addWords">Add Words</button>
  </div>
</div>
<br/><br/>

<div id="suggest" style="display:none">
  <table class="table table-bordered">
    <tr>
      <th>English</th>
      <th>Filipino</th>
      <th>Type</th>
    </tr>
    <tr ng-repeat="sug in suggest | filter:word.eng_word">
      <td>{{ sug.english }}</td>
      <td>{{ sug.filipino }}</td>
      <td>{{ sug.type }}</td>
    </tr>
  </table>
</div>