<h3>Enter your English phrase:</h3>
<p><input type="text" data-ng-model="phrase" id="phrase" size="75"></p>
<p><button class="btn btn-primary" id="translate_button" data-ng-click="translatePhrase()">Translate</button></p>

<div id="result" style="display:none">
  <div>
    <h3>{{ search_phrase }}</h3>
    <h3>Results:</h3>
  </div>
  <div><strong><i>Formal</i></strong></div>
  <ul ng-repeat="t in translation">  
    <div ng-if="t.isFormal">
      <li>{{ t.filipino }}</li>
    </div>
  </ul>
  <div><strong><i>Informal</i></strong></div>
  <ul ng-repeat="t in translation">  
    <div ng-if="t.isFormal === false">
      <li>{{ t.filipino }}</li>
    </div>
  </ul>
</div>